<!DOCTYPE html>
<html lang="en">

<body class="container">



		<main>
			<div class="jumbotron">
				<h1>Blog Visi Misi Teknik Informaika</h1>
				<p>VISI</p> <p>“Menjadi program studi unggul dan terdepan dalam menghasilkan sumber daya manusia bidang keahlian teknologi informasi untuk dunia industri khususnya di Kalimantan Barat pada tahun 2025 dan nasional pada tahun 2030”</p> <br> <p>MISI</p> <P>1.Menyiapkan lulusan di bidang Teknik Informatika yang mampu memasuki tantangan dan peluang kerja. <br>
2.Melaksanakan pendidikan dan pengajaran di bidang Teknik Informatika yang berorientasi pada perkembangan ilmu pengetahuan <br>
3.Mengembangkan ilmu pengetahuan dan teknologi bidang Teknik Informatika dengan berkolaborasi dengan asosiasi profesi dan penguna lulusan program studi Teknik Informatika <br>
4.Menyelenggarakan dan mengembangkan penelitian dibidang teknik informatika yang berkontribusi bagi perkembangan ilmu pengetahuan dan teknologi <br>
5.Melaksanakan pengambdian kepada masyarakat dibidang teknik informatika yang bermanfaat untuk masyarakat luas <br>
6.Membangun kerjasama dengan pihak instansi pemerintah dan industri<a href="/">VISI DAN MISI</a></p>
			</div>
		</main>


</body>
</html>