<!DOCTYPE html>
<html lang="en">

<body class="container">



		<main>
			<div class="jumbotron">
				<h1>Halaman Utama Anda</h1>
				<p>TEKNIK INFORMATIKA POLITEKNIK NEGERI KETAPANG <a href="/blog">VISI DAN MISI</a></p>
			</div>
		</main>


</body>
</html>